# web application files
/web-app/WEB-INF/classes

# IDE support files
.gradle
/.gradle
.classpath
/.classpath
**/.classpath
/.launch
/.project
**/.project
.settings
/.settings
**/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

*.class
/*.war
/*.zip

# "temporary" build files
.class
#/target
#**/target
/target-eclipse
/target-eclipse/**
**/target-eclipse
target-eclipse/**
**/target-ide
/bin
**/bin
/build
**/build
build/**

*.log
*.lck
now
**/now
**/*lck
**/.springBeans
**/.DS_Store
logs

