<configuration debug="true">

	<timestamp key="bySecond" datePattern="yyyyMMddHHmm"/>
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.procentive.audit.worker" level="DEBUG" />
	<logger name="com.procentive.core.listener" level="DEBUG" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.slf4j" level="WARN" />
	
	<root level="ERROR">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>